@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;1,100&display=swap');

* {margin: 0; padding: 0; box-sizing: border-box;}

body{
    font-family: 'Raleway', sans-serif;
}

/* 전체영역 */

#Wrapper{width: 1320px; margin: 0 auto;}
#header{width: 100%; height: 200px;}
#section{width: 100%; height: auto;}
#footer{width: 100%;  height: auto; }

/* header */

#header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.icon > i{
    font-size: 20px;
    cursor: pointer;
}
.header-container{
    display: flex;
    flex-direction: column;
}
.header-container .title{
    padding-bottom: 30px;
}
.header-container .title > h4{
    font-size: 25px;
    text-align: center;
}
.header-container .nav > ul{
    display: flex;
}
.header-container .nav > ul > li{
    padding-left: 20px;
    font-size: 15px;
    list-style: none;
    text-align: center;
}
.header-container .nav > ul > li > a{
    text-decoration: none;
    color: #000;
}
#underline{
    text-decoration: underline;
}

.header-box > button{
    padding: 10px;
    font-size: 13px;
    text-align: center;
    background-color: transparent !important;
    border: 1px solid black;
    cursor: pointer;

}
/* section */

.gallery{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(4, 300px);
    grid-gap: 20px;
   
    
}
.gallery > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 5px 5px;    
}


/* footer */

#footer{
    display: flex;
    flex-direction: column;
}
.f-container{
    position: relative;
    top: 40%;
    text-align: center;
}
.f-icon > i{
    font-size: 20px;
    padding-bottom: 30px;
    cursor: pointer;
}
.f-content > p{
    font-size: 25px;
    padding-bottom: 20px;
}
.f-footer{
    font-size: 13px;
}
/* 미디어쿼리 */

/* 모바일 */
@media all and (max-width: 767px){
    #Wrapper{width: 100%;}
    #header{padding-left: 10px; padding-right: 10px;}
    .header-box > button{padding: 5px; font-size: 10px;}
    .header-container .nav > ul > li{font-size: 10px;}
    .header-box > button{padding: 5px; font-size: 8px;}
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:repeat(4, 100px);
        grid-gap: 10px;
        padding-left: 10px; 
        padding-right: 10px;
    }
    #footer{height: auto; padding: 30px;}
    .f-footer > p{ font-size: 5px;}
    .f-content > p{font-size: 8px; padding-bottom: 10px;}
    .f-icon > i{font-size: 10px; padding-bottom: 10px;}
}

/* 태블릿 */

@media all and (min-width: 768px) and (max-width: 1024px){
    #Wrapper{width: 100%;}
    #header{padding-left: 20px; padding-right: 20px;}
    .header-box > button{padding: 8px; font-size: 15px;}
    .gallery{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows:repeat(4, 200px);
        grid-gap: 15px;
        padding-left: 20px; 
        padding-right: 20px;
    }
    #footer{height: auto; padding: 30px;}
    .f-footer > p{ font-size: 5px;}
    .f-content > p{font-size: 8px; padding-bottom: 10px;}
    .f-icon > i{font-size: 10px; padding-bottom: 10px;}
    
}

/* 데스크탑 */

@media all and (min-width: 1025px) {
    #Wrapper{width: 95%;}
    #footer{height: auto; padding: 30px;}
}